<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>root page</title>
</head>
<body>
    <p style="font-size: 30px;text-align: center;font-weight: bold;text-decoration:underline;color:red;">[ WELCOME USER ]</p>
<a href="http://127.0.0.1:8000/apidata/"><input type="submit" name="submit" id="submit" value={{data}}
    style="background-color:green; width: 150px;height:50px;font-weight:bold;border-radius:10%;"></a>
</body>
</html>